.App {
  text-align: center;
}
.container {
  max-width: 500px;
  background: lightgrey;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
h1 {
  color: rgb(41, 121, 241);
  padding-top: 20px;
}
input {
  margin: 17px;
  padding: 6px;
  border-radius: 10px;
}
.search {
  padding-left: 30px;
  padding-right: 30px;
  color: blue;
}
ul {
  list-style: none;
}
li {
  color: rgb(41, 121, 241);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
